body {
    background-color: #0A2647;
}
hr {
    border-style:none;
    border-top: dotted;
    border-color: #8EA7E9;
    border-width: 7px;
    width: 3%;
}
h1,h3,th{
    color: #5c97ca;
}
p,ul,table{
    color: #BFEAF5;
    
}
a,b{
    color: #EAFDFC;
}